@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html > body {
  font-family: "GmarketSansMedium";
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid red;
}
.top-bar__inner {
  padding-top: 40px;
  padding-inline: 3.5%;
  width: 100%;
  border: 2px solid blue;
}