@charset "UTF-8";

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
}
//탑바 구현 시작
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid red;

  .logo img {
  }
}
.top-bar__inner {
  padding-top: 40px;
  padding-inline: 3.5%;
  //padding-inline은 padding-left, right : 3.5%씩 준거랑 같은것이다.
  width: 100%;
  border: 2px solid blue;
}

//탑바 구현 끝끝
